#!{{ lookPath "bash" }}
#
{{ if .home -}}
# Set APT defaults
APT="apt --quiet --assume-yes --no-install-recommends"

# Elevate permissions
[ "$UID" -eq 0 ] || exec sudo "$0" "$@"

# Install packages
$APT update
$APT upgrade
$APT install brightnessctl curl fzf git gpg grim i3status ifupdown intel-media-va-driver \
 kitty libgfshare-bin mutt pass pass-extension-otp pinentry-gtk2 qrencode ripgrep scdaemon \
 steghide sway swayidle swaylock syncthing tomb ufw vim wireguard wl-clipboard wpasupplicant \
 xdg-desktop-portal-wlr xwayland zbar-tools zsh
{{- end -}}
