#!{{ lookPath "bash" }}
# vim: filetype=bash
#
# Initial system installation
#
{{- if .workstation }}
{{ template "install_workstation" . }}
{{ end -}}

{{- if .laptop }}
{{ template "install_laptop" . }}
{{ end -}}

{{- if .server }}
{{ template "install_server" . }}
{{ end -}}

{{- if .mobile }}
{{ template "install_mobile" . }}
{{ end -}}
