{{- if .workstation -}}
#!/usr/bin/env bash
# vim: filetype=sh
set -euo pipefail

if [ "$SHELL" != "$(command -v zsh)" ]; then
    chsh --shell "$(command -v zsh)"
fi

rm -rf -- \
    "$HOME/.bash_profile" \
    "$HOME/.bashrc" \
    "$HOME/.bash_logout" \
    "$HOME/.bash_history"
{{- end -}}
