{{- if .workstation -}}
#!/usr/bin/env bash
# vim: filetype=sh
set -euo pipefail

systemctl --user mask \
    app-blueman@autostart.service \
    app-geoclue\\x2ddemo\\x2dagent@autostart.service \
    app-nm\\x2dapplet@autostart.service \
    blueman-applet.service \
    blueman-manager.service \
    mpris-proxy.service \
    obex.service
{{- end -}}
