{{- if .workstation -}}
#!/usr/bin/env bash
# vim: filetype=sh
set -euo pipefail

# toolbox-refresh.sh hash: {{ include "dot_local/bin/executable_toolbox-refresh.sh" | sha256sum }}
# toolbox-refresh.service hash: {{ include "dot_config/systemd/user/toolbox-refresh.service" | sha256sum }}
# toolbox-refresh.timer hash: {{ include "dot_config/systemd/user/toolbox-refresh.timer" | sha256sum }}
systemctl --user daemon-reload
systemctl --user enable --now toolbox-refresh.timer
systemctl --user start toolbox-refresh.service \
    || echo "warning: toolbox refresh failed, continuing" >&2
{{- end -}}
