[".local/share/zsh/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    revision = "85919cd1ffa7d2d5412f6d3fe437ebdbeeec4fc5"
[".local/share/zsh/plugins/zsh-history-substring-search"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-history-substring-search.git"
    revision = "14c8d2e0ffaee98f2df9850b19944f32546fdea5"
[".local/share/zsh/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    revision = "1d85c692615a25fe2293bdd44b34c217d5d2bf04"
{{- if .workstation }}
[".local/share/age"]
    type = "archive"
    url = {{ gitHubReleaseAssetURL "FiloSottile/age" "v1.3.1" "age-*-linux-amd64.tar.gz" | quote }}
    exact = true
    stripComponents = 1
    checksum.sha256 = "bdc69c09cbdd6cf8b1f333d372a1f58247b3a33146406333e30c0f26e8f51377"
[".local/share/age-plugin-yubikey"]
    type = "archive"
    url = {{ gitHubReleaseAssetURL "str4d/age-plugin-yubikey" "v0.5.0" "age-plugin-yubikey-*-x86_64-linux.tar.gz" | quote }}
    exact = true
    stripComponents = 1
    checksum.sha256 = "019b35a13fc81be56d73d0723db0a2082fbd04c936c2c6836381111f7f51b2c3"
{{- end }}
