{{- $workstation := false -}}
{{- $server := false -}}
{{- $mobile := false -}}

{{- if (eq .chezmoi.os "linux") -}}
{{-   if (eq .chezmoi.hostname "toolbx") -}}
{{-     $workstation = true -}}
{{-   else if (eq .chezmoi.username "droid") -}}
{{-     $mobile = true -}}
{{-   else -}}
{{-     $server = true -}}
{{-   end -}}
{{- end -}}

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    workstation = {{ $workstation }}
    server = {{ $server }}
    mobile = {{ $mobile }}
