{{- $role := env "CHEZMOI_ROLE" -}}
{{- if not $role -}}
{{-   if eq .chezmoi.hostname "hyperion" -}}
{{-     $role = "workstation" -}}
{{-   else -}}
{{-     $role = "server" -}}
{{-   end -}}
{{- end -}}

[git]
    autoAdd = true
    autoCommit = true
    autoPush = false

[diff]
    exclude = ["scripts"]

[data]
    workstation = {{ eq $role "workstation" }}
    server = {{ eq $role "server" }}
