{{ if eq .chezmoi.osRelease.id "debian" }}
DEBIAN
{{ else if eq .chezmoi.osRelease.id "ubuntu" }}
UBUNTU
{{ end }}

{{ if eq .chezmoi.hostname .hostname.home }}
HOME
{{ else if eq .chezmoi.hostname .hostname.work }}
WORK
{{ end }}
