* {
  font-family: "DejaVu Sans Mono";
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
    color: #888888;
    background: transparent;
}

#workspaces button {
    color: #ffffff;
    background-color: transparent;
    padding: 0 5px;
}

#workspaces button.focused {
    background-color: #888888;
}

#workspaces button.urgent {
    background-color: #900000;
}

#scratchpad {
    padding-left: 10;
}

#load,
#memory,
#temperature,
#disk,
#network,
#pulseaudio,
#battery,
#tray {
    padding-right: 10;
}
