* {
  font-family: monospace;
  font-weight: bold;
}

window#waybar {
    color: #888888;
    background: transparent;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused {
    background-color: #444444;
}

#workspaces button.urgent {
    background-color: #800000;
}
